zend_extension=xdebug.so

xdebug.remote_enable=1
xdebug.remote_autostart=1
xdebug.remote_host={{ t3bs.xdebug_remote_host }}
xdebug.remote_port={{ t3bs.xdebug_remote_port }}
xdebug.remote_connect_back=1
xdebug.idekey={{ t3bs.xdebug_idekey }}
xdebug.max_nesting_level={{ t3bs.xdebug_max_nesting_level }}
